# copy this file as 'flask.cfg' when deployed to a new env and update values as needed.

DEBUG = True
ENV = 'development'
PORT = 8888
ADMIN_KEY = 'SuperSecret'
MONGO_URL = 'username@password@localhost:27017'
INPUT_RSS_FILE_PATH = 'api/news_rss_url.local.txt'